<module>
	<rawname>routepermissions</rawname>
	<name>Outbound Route Permissions</name>
	<version>0.2.0.0</version>
	<candisable>yes</candisable>
	<canuninstall>yes</canuninstall>
	<changelog>
		*0.1.0.0* Original Release
		*0.2.0.0* Fixed bug with routenames not being displayed properly if they contained a hyphen
	</changelog>
	<description>
		Allows you to block access to various routes, on a per-extension basis. Note that this module requires a database to be available AT ALL TIMES.
	</description>
	<menuitems>
                <routepermissions>Outbound Permissions</routepermissions>
        </menuitems>
	<type>setup</type>
	<category>Outbound Call Control</category>
	<location>x</location>
	<md5sum>x</md5sum>
</module>
